/*Style di Header*/
#frontespizio {
    height: 175px;
    background-color: rgb(74, 139, 215);
    background-image: url(../img/pattern.png);
    
}

#logo {
    height: 160px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: left bottom;
    width: 55%;
    margin: auto;
}

/*Style del Main*/
main, footer{
    width: 55%;
    margin: auto;
}

h1 {
    margin: 0;
}
#journal-name {
    color: rgb(83, 188, 234);
}

.testo-grigio {
    color: dimgray;  
    font-weight: bold; 
    margin-bottom: 20px;
}

.piccolo {
    font-size: 12px;
}

.ciano{
    background-color: aqua;
    
}

.blu{
    background-color: rgb(14, 117, 201);
    margin: auto;
}

.casella{
    width: 20%;
    color: white;
}

#titolo-casella{
    color: white;
}

#lista{
   padding-left: 14px;
}

table{
    border-collapse: collapse;    
}

/*Style del Footer*/
#graph-1 {
    background-image: url(../img/monitor.jpg);
}

#graph-2 {
    background-image: url(../img/graph.jpg);
}

.testo-finale {
    padding: 10px;
    color: white;
    background-size: contain;
    margin-top: 10px;
    height: 150px;
    width: 250px;
    font-weight: bold;
}

